.topbar-fontbox{
    display: none;
  }
  .topbar-bigbox a{
    display: none;
  }
  .ui-header{
    width : auto;
    position : static;
    height: 0px;

  }
  .ui-header ~ .ui-container{
    border-top: 0px;
  }
  .topbar-bigbox div.fr{
      padding: 0 10px;
      background: #FC511F;
      color: #ffffff;
      height: 2rem;
      line-height: 2rem;
      margin-top: 2.6rem;
  }
  .font-color7{
    color: #F74B08;
  }
  .font-color4{
    color: #FC511F;
  }
  .order-item-group .item-title{
    color: #000000;
  }
  .goto-check{
    background: #FC511F;
  }
  .down-label{
    background: #FC511F;
  }
  .cart-inf-right .right4 span{
     color: #FC511F;
  }
  .amount-span{
    color: #FC511F;
  }
  .surepay-btn{
    background: #FC511F;
  }
  .product-quantity{
    border-bottom: .0625rem solid #FC511F;
    border-top: .0625rem solid #FC511F;
  }
  .quantity-subtract, .quantity-add{
        border: .0625rem solid #FC511F;
  }
  .empty-img{
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
  .empty-div{
    background: #EEEEEE;
    padding-top: 7.5rem;
  }
  .empty-div,.empty-div p{
    margin-top: .3rem;
  }
  .go:focus{outline:none;}
  .go{
    margin-top: 1.2rem;
  }
  .go,.go div{
        width: 6rem;
        height: 2rem;
        line-height: 2rem;
        background: #E6E3E3;
        color: #6D6D6D!important;
  }
  .go div{
        border: 1px solid #000000;
        border-radius: 0.325em;
        font-weight: bold;
  }
  .selected.check-box{
      background: url(../images/cart-checkbox-select.png) no-repeat scroll center center;
      background-size: 1.3125rem 1.3125rem;
  }
  .check-box{
      background: url(../images/cart-checkbox.png) no-repeat scroll center center;
      background-size: 1.3125rem 1.3125rem;
  }