body{background:#f5f5f5;}
.ui-header-positive{background:#3a393d;}
.ui-avatar{background-image:none;margin:0px!important;}
.ui-list-info{text-align: center;line-height: 1;margin-right: 65px;}
.ui-header .ui-list{background:none;height:100%;}
.ui-list-info{padding: 0px;}
.ui-list-info h4{margin-top:-3px;margin-bottom: 3px;}
.ui-list-info p{font-size: 14px;color:#ffffff;}
.ui-center{height:180px;}
.ui-row-flex .ui-col{width:100%;margin-top: 20px;font-weight: bold;}
.ui-message{width:100%;margin-top: 20px;}
.money{margin-top: 0px!important;font-size: xx-large;}
.ui-form-item{background:#ffffff;}
.ui-btn-primary{background: #06be04;}
.ui-btn-primary:not(.disabled):not(:disabled):active, .ui-btn-primary.active {
        background: #06be04;
        color: rgba(255, 255, 255, 0.5);
}